

.print-slide {
	background: #eff4f6;	
	color:#000;
	a {
		color: $hrld-blue;
		text-decoration: none;
	}
	h1 {
		border-bottom-color: rgba(#000,.1);
	}
	.rates, .rates td {
		border-color: rgba(#000,.1) !important;
	}
	.rates .top-explainer {
		color: rgba(#000,.5);
	}
}

